
.bg-brown {
    background-color: rgb(129, 128, 114);
    
  }

.btn-brown {
    background-color: rgb(61, 12, 12);
    border-color: rgb(43, 33, 33);
    color: white;
  }
  
  .btn-brown:hover {
    background-color: #5a4a36; 
    border-color: #8B4513;
  }

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }
.product-page {
    background-color:  rgb(129, 128, 114);
    padding: 20px;
  }
.collection-wrapper{

  background-color: rgb(129, 128, 114);
  padding-bottom: 0%;

}
.custom-card{
  width: 100%;
  margin-bottom: 20px;
  background-color: #8b857e;
}
.img-wrapper{
  height: 600px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description-text {
  font-size: 18px;
}
.product-container{
  background-color: rgb(129, 128, 114);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.product-page{
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
}
.image{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.button{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.cart{
  background-color: #4e3825;
  border-color: rgb(224, 224, 219);
}
.back{
  background-color: #4e3825;
  border-color: rgb(224, 224, 219);
}
.cart:hover{
  background-color: #6e684d;
}
.back:hover{
  background-color: #6e684d;
}
.primary{
  background-color: #4e3825;
  border-color: rgb(224, 224, 219);
}
.primary:hover{
  background-color: #6e684d;
}